@model Phone

@{
    ViewData["Title"] = "Phone details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-primary">
                        <h5 class="card-title" style="margin-bottom:0px">@Model.Name</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>CPU: </b>
                            <a asp-controller="CPUs" asp-action="Details" asp-route-id="@Model.CPUId">
                                @Model.CPU.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Memory: </b>
                            <a asp-controller="Memories" asp-action="Details" asp-route-id="@Model.MemoryId">
                                @Model.Memory.Name
                            </a>
                        </p>
                        <p class="card-text"><b>Colour: </b>@Model.PhoneColour</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer" style="background-color: white; padding:0rem">
                        <p class="card-text">
                            <a class="btn btn-outline-secondary float-right" style="margin:0.4rem" asp-action="Index">
                                Back to List
                            </a>
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                            {
                                <a class="btn btn-warning text-white"
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                    <i class="bi bi-cart-plus"></i> <strong>Add to Cart (Price @Model.Price.ToString("c"))</strong>
                                </a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>